body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.disabled circle.stone.placeholder:hover {
    opacity: 0;
}
.markers_layer text {
    pointer-events: none;
}

.size-1 {
    r: 1.03125% !important;
}

.size-2 {
    r: 1.0625% !important;
}

.size-3 {
    r: 1.09375% !important;
}

.size-4 {
    r: 1.125% !important;
}

.size-5 {
    r: 1.15625% !important;
}

.size-6 {
    r: 1.1875% !important;
}

.size-7 {
    r: 1.21875% !important;
}

.size-8 {
    r: 1.25% !important;
}

.size-9 {
    r: 1.28125% !important;
}

.size-10 {
    r: 1.3125% !important;
}

.size-11 {
    r: 1.34375% !important;
}

.size-12 {
    r: 1.375% !important;
}

.size-13 {
    r: 1.40625% !important;
}

.size-14 {
    r: 1.4375% !important;
}

.size-15 {
    r: 1.46875% !important;
}

.size-16 {
    r: 1.5% !important;
}

.size-17 {
    r: 1.53125% !important;
}

.size-18 {
    r: 1.5625% !important;
}

.size-19 {
    r: 1.59375% !important;
}

.size-20 {
    r: 1.625% !important;
}

.size-21 {
    r: 1.65625% !important;
}

.size-22 {
    r: 1.6875% !important;
}

.size-23 {
    r: 1.71875% !important;
}

.size-24 {
    r: 1.75% !important;
}

.size-25 {
    r: 1.78125% !important;
}

.size-26 {
    r: 1.8125% !important;
}

.size-27 {
    r: 1.84375% !important;
}

.size-28 {
    r: 1.875% !important;
}

.size-29 {
    r: 1.90625% !important;
}

.size-30 {
    r: 1.9375% !important;
}

.size-31 {
    r: 1.96875% !important;
}

.size-32 {
    r: 2% !important;
}

.size-33 {
    r: 2.03125% !important;
}

.size-34 {
    r: 2.0625% !important;
}

.size-35 {
    r: 2.09375% !important;
}

.size-36 {
    r: 2.125% !important;
}

.size-37 {
    r: 2.15625% !important;
}

.size-38 {
    r: 2.1875% !important;
}

.size-39 {
    r: 2.21875% !important;
}

.size-40 {
    r: 2.25% !important;
}

.size-41 {
    r: 2.28125% !important;
}

.size-42 {
    r: 2.3125% !important;
}

.size-43 {
    r: 2.34375% !important;
}

.size-44 {
    r: 2.375% !important;
}

.size-45 {
    r: 2.40625% !important;
}

.size-46 {
    r: 2.4375% !important;
}

.size-47 {
    r: 2.46875% !important;
}

.size-48 {
    r: 2.5% !important;
}

.size-49 {
    r: 2.53125% !important;
}

.size-50 {
    r: 2.5625% !important;
}

.size-51 {
    r: 2.59375% !important;
}

.size-52 {
    r: 2.625% !important;
}

.size-53 {
    r: 2.65625% !important;
}

.size-54 {
    r: 2.6875% !important;
}

.size-55 {
    r: 2.71875% !important;
}

.size-56 {
    r: 2.75% !important;
}

.size-57 {
    r: 2.78125% !important;
}

.size-58 {
    r: 2.8125% !important;
}

.size-59 {
    r: 2.84375% !important;
}

.size-60 {
    r: 2.875% !important;
}

.size-61 {
    r: 2.90625% !important;
}

.size-62 {
    r: 2.9375% !important;
}

.size-63 {
    r: 2.96875% !important;
}

.size-64 {
    r: 3% !important;
}

.size-65 {
    r: 3.03125% !important;
}

.size-66 {
    r: 3.0625% !important;
}

.size-67 {
    r: 3.09375% !important;
}

.size-68 {
    r: 3.125% !important;
}

.size-69 {
    r: 3.15625% !important;
}

.size-70 {
    r: 3.1875% !important;
}

.size-71 {
    r: 3.21875% !important;
}

.size-72 {
    r: 3.25% !important;
}

.size-73 {
    r: 3.28125% !important;
}

.size-74 {
    r: 3.3125% !important;
}

.size-75 {
    r: 3.34375% !important;
}

.size-76 {
    r: 3.375% !important;
}

.size-77 {
    r: 3.40625% !important;
}

.size-78 {
    r: 3.4375% !important;
}

.size-79 {
    r: 3.46875% !important;
}

.size-80 {
    r: 3.5% !important;
}

.size-81 {
    r: 3.53125% !important;
}

.size-82 {
    r: 3.5625% !important;
}

.size-83 {
    r: 3.59375% !important;
}

.size-84 {
    r: 3.625% !important;
}

.size-85 {
    r: 3.65625% !important;
}

.size-86 {
    r: 3.6875% !important;
}

.size-87 {
    r: 3.71875% !important;
}

.size-88 {
    r: 3.75% !important;
}

.size-89 {
    r: 3.78125% !important;
}

.size-90 {
    r: 3.8125% !important;
}

.size-91 {
    r: 3.84375% !important;
}

.size-92 {
    r: 3.875% !important;
}

.size-93 {
    r: 3.90625% !important;
}

.size-94 {
    r: 3.9375% !important;
}

.size-95 {
    r: 3.96875% !important;
}

.size-96 {
    r: 4% !important;
}

.size-97 {
    r: 4.03125% !important;
}

.size-98 {
    r: 4.0625% !important;
}

.size-99 {
    r: 4.09375% !important;
}

.size-100 {
    r: 4.125% !important;
}

.size-101 {
    r: 4.15625% !important;
}

.size-102 {
    r: 4.1875% !important;
}

.size-103 {
    r: 4.21875% !important;
}

.size-104 {
    r: 4.25% !important;
}

.size-105 {
    r: 4.28125% !important;
}

.size-106 {
    r: 4.3125% !important;
}

.size-107 {
    r: 4.34375% !important;
}

.size-108 {
    r: 4.375% !important;
}

.size-109 {
    r: 4.40625% !important;
}

.size-110 {
    r: 4.4375% !important;
}

.size-111 {
    r: 4.46875% !important;
}

.size-112 {
    r: 4.5% !important;
}

.size-113 {
    r: 4.53125% !important;
}

.size-114 {
    r: 4.5625% !important;
}

.size-115 {
    r: 4.59375% !important;
}

.size-116 {
    r: 4.625% !important;
}

.size-117 {
    r: 4.65625% !important;
}

.size-118 {
    r: 4.6875% !important;
}

.size-119 {
    r: 4.71875% !important;
}

.size-120 {
    r: 4.75% !important;
}

.size-121 {
    r: 4.78125% !important;
}

.size-122 {
    r: 4.8125% !important;
}

.size-123 {
    r: 4.84375% !important;
}

.size-124 {
    r: 4.875% !important;
}

.size-125 {
    r: 4.90625% !important;
}

.size-126 {
    r: 4.9375% !important;
}

.size-127 {
    r: 4.96875% !important;
}

.size-128 {
    r: 5% !important;
}

.bluestone {
    fill: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%) !important;
    stroke: none !important;
    opacity: 0.5;
}

.grid_layer path{
  stroke-width: 1!important;
  shape-rendering: auto!important;
}
.starpoints_layer circle:nth-child(6),
.starpoints_layer circle:nth-child(8),
.starpoints_layer circle:nth-child(7),
.starpoints_layer circle:nth-child(9){
  display: none;
}

@keyframes pulse {
  from {
    font-size: 30px;
  }
  to {
    top: 24px;
  }
}
